{% extends 'base.html.twig' %}

{% block sub_sidebar %}
<div id="submenu">

	<a href="{{ url('recipe_create') }}">{% trans %}Crear Nueva{% endtrans %}</a> | <a href="{{ url('karlos_recipes_list') }}">{% trans %}Recetas de Karlos{% endtrans %}</a>

</div>
{% endblock %}

{% block title %}Listado de recetas{% endblock %}

{% block body %}
<ul>
{% for recipe in recipes %}

<li>
{{ recipe.name }} [<a href="{{ url('recipe_show', { 'id': recipe.id }) }}">{% trans %}Mostrar{% endtrans %}</a>] [<a href="{{ url('recipe_modify', { 'id': recipe.id }) }}">{% trans %}Modificar{% endtrans %}</a>] 
</li>

{% endfor %}
</ul>
{% endblock %}